In [1]:
import pandas as pd

df = pd.read_csv("bioactivity-18_1_04_30.txt", sep='\t')
df.head()

,CMPD_CHEMBLID,MOLREGNO,PARENT_CMPD_CHEMBLID,PARENT_MOLREGNO,MOL_PREF_NAME,COMPOUND_KEY,MOLWEIGHT,ALOGP,PSA,NUM_RO5_VIOLATIONS,...,DOC_CHEMBLID,PUBMED_ID,JOURNAL,YEAR,VOLUME,ISSUE,FIRST_PAGE,CELL_ID,CELL_CHEMBL_ID,CELL_NAME
0,CHEMBL422897,285177,CHEMBL422897,285177,NaN,SID103905279,401.84,3.11,90.23,0,...,CHEMBL1201862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CHEMBL1992220,1313511,CHEMBL1992220,1313511,NaN,SID103904232,413.90,3.24,107.62,0,...,CHEMBL1201862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CHEMBL191003,317507,CHEMBL191003,317507,JNJ-7706621,SID103905616,394.36,2.23,154.37,0,...,CHEMBL1201862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CHEMBL1958401,1283942,CHEMBL1958401,1283942,NaN,SID103904798,270.33,1.70,66.38,0,...,CHEMBL1201862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CHEMBL1084546,630975,CHEMBL1084546,630975,PF-562271,SID103905684,507.49,2.49,137.58,1,...,CHEMBL1201862,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
train_df = df[["CMPD_CHEMBLID","CANONICAL_SMILES", "STANDARD_VALUE"]]
train_df.columns = ["id", "smile", "nanomolar_potency"]  # DeepChem expects these column names
train_df.head()

,id,smile,nanomolar_potency
0,CHEMBL422897,CN1CCC(C(O)C1)c2c(O)cc(O)c3C(=O)C=C(Oc23)c4ccc...,0.631
1,CHEMBL1992220,CCNC(=O)NC1CCC(CC1)Nc2nc(Cl)cc(n2)c3c[nH]c4ncc...,3.981
2,CHEMBL191003,Nc1nc(Nc2ccc(cc2)S(=O)(=O)N)nn1C(=O)c3c(F)cccc3F,15.850
3,CHEMBL1958401,O=C1NC(=NC(=C1)c2ccncc2)NC3CCCCC3,50.120
4,CHEMBL1084546,CN(c1ncccc1CNc2nc(Nc3ccc4NC(=O)Cc4c3)ncc2C(F)(...,63.100