CHEMBL export of target search for CDK9 IC50 bioactivity

In [1]:
import pandas as pd

df = pd.read_csv("bioactivity-18_1_35_40.txt", sep='\t')
df.head()

,CMPD_CHEMBLID,MOLREGNO,PARENT_CMPD_CHEMBLID,PARENT_MOLREGNO,MOL_PREF_NAME,COMPOUND_KEY,MOLWEIGHT,ALOGP,PSA,NUM_RO5_VIOLATIONS,...,DOC_CHEMBLID,PUBMED_ID,JOURNAL,YEAR,VOLUME,ISSUE,FIRST_PAGE,CELL_ID,CELL_CHEMBL_ID,CELL_NAME
0,CHEMBL3694402,2027645,CHEMBL3694402,2027645,NaN,5,326.35,1.25,93.21,0,...,CHEMBL3638952,NaN,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN
1,CHEMBL3668457,2001438,CHEMBL3668457,2001438,NaN,186,397.44,2.70,81.61,0,...,CHEMBL3639207,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
2,CHEMBL3673501,2006533,CHEMBL3673501,2006533,NaN,315,384.48,2.99,78.52,0,...,CHEMBL3639207,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
3,CHEMBL3663778,1996712,CHEMBL3663778,1996712,NaN,37,436.91,3.86,78.52,0,...,CHEMBL3639207,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN
4,CHEMBL3673512,2006544,CHEMBL3673512,2006544,NaN,326,398.50,3.52,69.73,0,...,CHEMBL3639207,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN

Select column names expected by DeepChem

In [2]:
train_df = df[["CMPD_CHEMBLID","CANONICAL_SMILES", "STANDARD_VALUE"]]
train_df.columns = ["id", "smile", "nanomolar_potency"]  # DeepChem expects these column names
train_df.head()

,id,smile,nanomolar_potency
0,CHEMBL3694402,COc1ccccc1c2cc(NC(=O)C3CCC(=O)NC3)ncn2,0.019
1,CHEMBL3668457,COc1ccc(F)cc1c2ccnc3[nH]c(cc23)C4=CCN(CC(O)CO)CC4,4.000
2,CHEMBL3673501,C(Nc1cncc(n1)c2ccnc3[nH]c(cc23)C4CCNCC4)c5ccccc5,5.000
3,CHEMBL3663778,Fc1cncc(CNc2ccc(Cl)c(n2)c3ccnc4[nH]c(cc34)C5CC...,10.000
4,CHEMBL3673512,CN1CCC(CC1)c2cc3c(ccnc3[nH]2)c4cncc(NCc5ccccc5)n4,10.000

In [3]:
train_df.count()

id                   494
smile                494
nanomolar_potency    492
dtype: int64

In [4]:
train_df[train_df["nanomolar_potency"].isnull()]

,id,smile,nanomolar_potency
234,CHEMBL23327,CC(C)[C@H](CO)Nc1nc(Nc2cccc(Cl)c2)c3ncn(C(C)C)...,NaN
428,CHEMBL521274,CC[C@@H](CO)Nc1nc(NCc2ccccc2)n3ncc(C(C)C)c3n1,NaN

In [5]:
train_df = train_df.dropna()
train_df.count()

id                   492
smile                492
nanomolar_potency    492
dtype: int64